.timeLocation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3a6f57;
}

.timeLocation-title {
    font-size: calc(1.2vw + 1.2vh + 1vmin);
    margin-bottom: calc(1vw + 1vh + 0.5vmin);
}

.timeLocation-info {
    float: left;
    width: 35%;
    height: 35%;
}

.timeLocation-image {
    float: right;
    width: 65%;
    height: 65%;
}

.timeLocation-details {
    font-size: calc(0.8vw + 0.8vh + 0.5vmin);
}

.timeLocation-address {
    color:white;
    font-size: calc(0.7vw + 0.7vh + 0.5vmin);
}

@media (max-width: 1334px) {
    .timeLocation-image {
        width: 100%;
        height: 100%;
    }

    .timeLocation-content {
        flex-direction: column;
        align-items: center;
    }

    .timeLocation-info {
        max-width: none;
        width: 90%;
    }
}
