.countdown-container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time {
    text-align: center;
}

.number {
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
    font-weight: bold;
}

.label {
    font-size: calc(0.5vw + 0.5vh + 0.125vmin);
    color: white;
}

.countdown-complete {
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
    color: red;
}